<div class="page-content" ng-controller="Y1600Ctrl">
	<h1>Y - 1600</h1>
<form>
    <input name="name" class="form-control" type="name" placeholder="Title" id="titleInput" />
    <br/>
    <textarea id="postInput" name="content" data-provide="markdown" rows="10"></textarea>
    <hr/>
    <button type="submit" class="btn" onclick="submitPost()">Submit</button>
</form>
<div id="PostsDiv"></div>
	<table class="table table-inverse" >
	  <thead>
	    <tr>
	      <th>Place</th>
	      <th>First Name</th>
	      <th>Last Name</th>
	      <th>Car</th>
	      <th>Time</th>
	      <th>Penalization</th>
	      <th>Points</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="pilot in pilots">
	      <th scope="row">{{pilot.pilotPlace}}</th>
	      <td >{{pilot.name}}</td>
	      <td>{{pilot.lastName}}</td>
	      <td>{{pilot.car}}</td>
	      <td>{{pilot.time}}</td>
	      <td>{{pilot.penalization}}</td>
	      <td>{{pilot.points}}</td>
	    </tr>
	  </tbody>
	</table>
</div>
